html, body {height: 100%;}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: whitesmoke; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  div.current-item img{
    border: 2px solid royalblue;
  }

  .sidenav {
    font-size: 0.8rem;
  }

  .sidenav .text{
      background-color: white;
      margin-top: 0.5em;
      padding-top:1em;
  }

  .text-sm {
      font-size: 0.6rem;
  }

  .sidenav .nav-username {
      font-weight: 900;
  }
  .sidenav .coupon-count {
    color:red;
  }

  .sidenav-list {
      font-weight: 800;
      padding: 0.5em 2em;
  }

  .btn-external {
      color:white;
      background-color: #0e5983;
  }

  #main h5{
    padding: 0.5em 0.5em 0px 0.5em;font-weight: 900;text-align: center;
  }

  .content-table img {
      margin:0em 1em;
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slide-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides.fade {
  opacity:1;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.vertical-middle {
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}

.infor-title {
  background-color: white;
  font-weight: 800;
  padding: 0.5em;
  font-size: 0.9rem;
}

.infor-top-title {
  background-color: white;
  font-weight: 800;
  padding: 30px;
  font-size: 40px;
}

.infor-title-grayback {
  background-color: #eef3f6;
  font-weight: 800;
  padding: 0.5em;
  font-size: 0.9rem;
}

.infor-title-grayback button.form-control {
  height: 3em;
}

.infor-content {
  background-color: white;
  padding: 1em;
  font-size: 0.7rem;
}

.infor-content button.form-control {
  height: 3em;
}

.infor-content .infor-lg {
  font-size: 0.9rem;
}

.infor-content .infor-sm {
  font-size: 0.5rem;
}

.form-group {
  height: 0.3em;
}

.shadow-sm {
  margin-bottom: 0.3em;
}

.blog .form-control {
  font-size: 0.5rem
}

.btn-main {
  background-color: #0e5983;
  color:white;
}

hr.line {
  margin:1px 0px;
}

hr.md-line {
  text-align: center;
  border: 0px;
  background-color: black;
  width: 95%;
  height:1px;
  margin:0px auto;
}

hr.md-boldline {
  text-align: center;
  border: 0px;
  background-color: black;
  width: 95%;
  height:3px;
  margin:0px auto;
}

input[type=text][readonly]{
background-color: white;
}
input[type=button][readonly]{
background-color: white;
}

.ticket-container {
  text-align: center;
  padding: 1.3em 0.5em;
}
.recommend_photo_add {
  color: red;
}

ul {
  padding-inline-start: 1em;
}

/* For red checkbox*/
/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  font-size: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border-radius:0.75em;
  border: 1px red solid;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.5em;
  top: 0.3em;
  width: 0.3em;
  height: 0.6em;
  border: solid red;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* End for red checkbox*/

/* For modal */
body.loading .modal {
  overflow: hidden;   
}

body.loading .modal {
  display: block;
}

body.loading .modal-mask {
  width: 100vw;
  height: 100vh;
  position:fixed;
  top:0;    
  left:0;
  background:gray;
  opacity: 0.2;
}

.modal {
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 30px;
  background-color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  width: 600px;
  height: 200px;
  padding-top: 20px;
}

.modal button {
  margin-top: 40px;
  font-size: 30px;
}

/* End for modal */

/* For red radiobox*/
/* The container */
.radiobox-container {
  display: block;
  position: relative;
  padding-left: 1.6em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radiobox */
.radiobox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Show the checkmark when checked */
.radiobox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.radiobox-container .checkmark:after {
  left: 0.3em;
  top: 0.3em;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background:red;
}

/* End for red radiobox*/