html {
    text-align: center;
}

#cover-select-caption * {
    font-size: 32px;
}

body {
    display: inline-block;
    width: 1380px;
}

#cover-select-caption span {
    margin-right: -40px;
}

div.nav {
    height: 6vw;
}

.nav-div {
    width: 100%; background-color: white; padding: 30px 30px 0px 30px;
}

.nav-background {
    background-color: #3f5058;
}

.main-color {
    color: white;
}

svg.nav-line {
    margin-top:auto;
    margin-bottom: auto;
    height: 1vw;
    flex: 0 0 5%;
    max-width: 5%;
}

line.nav-line {
    stroke: white;
    stroke-width: 0.1vw;
}

div.nav div {
    display: flex;
}

div.nav-chapter-number {
    flex: 0 0 10%;
    max-width: 10%;
}

h1.nav-chapter-number {
    font-size:4vw;
    text-shadow: 0.3vw 0.3vw 0.3vw #1e262a;
    margin: auto 0 auto auto;
}

h1.nav-chapter-title {
    font-size: 2vw;
    margin:auto;
}

div.nav-item {
    flex: 0 0 12%;
    max-width: 12%;
}

h1.nav-item {
    font-size: 1.6vw;
    margin: auto;
}

h1.disabled {
    color: #657379 !important;
}

div.main-content {
    width: 1380px;
    height: 140vh;
    background-color: whitesmoke;
}

tr.top-bottom-bordered {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

table.content-control {
    width: 1320px;
}

table.content-control td {
    box-sizing: content-box;
    font-size: 24px;
}

table.content-control tr{
    height: 50px;
}

td.content-type {
    font-size: 18px
}

td.bordered {
    text-align: center;
    border: 1px solid #d4d4d4;
    width: 100px;
}

td.blue-button {
    text-align: center;
    color:white;
    background-color: #0e5983;
    width: 100px;
}

.bold {
    font-weight: 900;
}

.content-actions img {
    height: 1.5vw;
}

div.main-editor {
    background-color: #f0f0f0;
    padding: 30px 50px 20px 50px;
    width: 1380px;
    height: 410px;
}

div.background-white {
    background-color: white;
}

div.border-right {
    border-right: 1px solid #d4d4d4 !important;
}

.full-height {
    height: 100%;
}

div.ctrl-btn-group {
    height: 40px !important;
    margin: -20px -20px -20px -20px;
    position: relative;
    top:65%;
    left:25%;
}

div.ctrl-btn-group button {
    font-size: 20px;
}

/* @media screen and (max-width: 1024px) {
    div.ctrl-btn-group {
        left:15%;
    }
} */

div.main-editor canvas {
    width: 100%;
    height: 100%;
}

.add-photo {
    height:40px; 
    width:40px; 
    margin: -20px -20px -20px -20px; 
    border-radius: 20px;
    border: 0px;
    color: white;
    font-size: 20px;
    background-color: #d4d4d4;
    position:relative;
    top:50%;
    left:50%;
}

#openfile {
    height: 0px;
    opacity: 0;
    display: none;
}

.image-container.target {
    margin-top: 0px !important;
}

.image-workplace:not(.image-cover-workplace) {
    background-color: whitesmoke;
}

.image-workplace {
    width: 472.5px;
    height: 360px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.canvas-container {
    margin: 0 auto;
}

.image-workplace img {
    position: relative;;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.btn-hidden {
    display:none;
}

.btn-3 {
    width: 75px;
}

.btns {
    height: 360px;
    margin-top: -360px;
}

.thumbnail-region {
    background-color: whitesmoke;
    width: 1320px;
    height: 120px;
    margin: 0px 30px 0px 30px;
}

.thumbnail-region > div{
    float: left;
}

.thumbnail-list {
    width: 89%;
    height: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.thumbnail-list.cover-list {
    width: 100%;
}

.thumbnail-list > div {
    height: 80px;
}

.thumbnail-list img {
    border: 1px solid #d4d4d4;
    height: 50px;
    margin: 10px;
}

.thumbnail-list div {
    display: inline-block;
    text-align: center;
}

.thumbnail-list figcaption {
    font-size: 24px;
}

.thumbnail-control {
    margin: 28px 10px 0px 10px;
}

div.current-item img{
    border: 2px solid royalblue;
}

div.info-insert {
    padding-top: 20px;
}

div.info-insert.print-paper {
    margin:30% auto auto auto;
    text-align: center;
    height: 40px;
}

#cover-show img {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading .modal {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.shadow {
    box-shadow: 5px 10px 8px #888888;
}

.shadow-sm {
    box-shadow: 2px 5px 4px #888888;
}

body.loading-confirm .modal-confirm {
    overflow: hidden;   
}

.modal-confirm {
    display: none;
}

body.loading-confirm .modal-confirm {
    display: block;
}

body.loading-confirm .modal-confirm-mask {
    width: 1380px;
    height: 200vh;
    position:fixed;
    top:0;    
    left:0;
    background:gray;
    opacity: 0.2;
}

.modal-confirm {
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 30px;
    background-color: white;
    font-size: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    width: 600px;
    height: 200px;
    padding-top: 20px;
}

.modal-confirm button {
    float: left;
    margin: 10px;
    font-size: 20px;
}

body.loading-progress .progress {
    overflow: hidden;   
}

.progress {
    display: none;
}

body.loading-progress .progress {
    display: block;
}

body.loading-progress .modal-confirm-mask {
    width: 1380px;
    height: 200vh;
    position:fixed;
    top:0;
    left:0;
    background:gray;
    opacity: 0.2;
}

.progress {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
    height:5%;
}

.progress-bar {
    background-color: #0e5983;
    font-size: 20px;
    height:100%;
}