html {
    text-align: center;
}

#cover-select-caption * {
    font-size: 32px;
}

body {
    width: 100%;
}

#cover-select-caption span {
    margin-right: -40px;
}

div.nav {
    height: 6vw;
}

.nav-div {
    width: 100%; background-color: white; padding: 1em 1em 0px 1em;
}

.nav-background {
    background-color: #3f5058;
}

.main-color {
    color: white;
}

svg.nav-line {
    margin-top:auto;
    margin-bottom: auto;
    height: 1vw;
    flex: 0 0 5%;
    max-width: 5%;
}

line.nav-line {
    stroke: white;
    stroke-width: 0.1vw;
}

div.nav div {
    display: flex;
}

div.nav-chapter-number {
    flex: 0 0 10%;
    max-width: 10%;
}

h1.nav-chapter-number {
    font-size:4vw;
    text-shadow: 0.3vw 0.3vw 0.3vw #1e262a;
    margin: auto 0 auto auto;
}

h1.nav-chapter-title {
    font-size: 2vw;
    margin:auto;
}

div.nav-item {
    flex: 0 0 12%;
    max-width: 12%;
}

h1.nav-item {
    font-size: 1.6vw;
    margin: auto;
}

h1.disabled {
    color: #657379 !important;
}

div.main-content {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

tr.top-bottom-bordered {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

table.content-control {
    width: 100%
}

table.content-control td {
    box-sizing: content-box;
    font-size: 0.5rem;
}

table.content-control tr{
    height: 1.5em;
}

td.bordered {
    width: 5em;
    text-align: center;
    border: 1px solid #d4d4d4;
}

td.blue-button {
    width:7em;
    text-align: center;
    color:white;
    background-color: #0e5983;
}

.bold {
    font-weight: 900;
}

.content-actions img {
    height: 1.5vw;
}

div.main-editor {
    background-color: #f0f0f0;
    padding: 15px;
    width: 100%;
}

#for-aspect-ratio-out {
    width:100%;
    padding-top:29.41%;
    position:relative;
}

#for-aspect-ratio-in {
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
}

div.background-white {
    background-color: white;
}

div.border-right {
    border-right: 1px solid #d4d4d4 !important;
}

.full-height {
    height: 100%;
}

div.ctrl-btn-group {
    margin: -20px -20px -20px -20px;
    position: relative;
    top:65%;
    left:0%;
}

div.ctrl-btn-group button {
    padding:0.5em;
    font-size: 0.5rem;
}

.ctrl-btn {
    border-radius: 0px;
}

div.main-editor canvas {
    width: 100%;
    height: 100%;
}

.add-photo {
    height:1.5em; 
    width:1.5em; 
    margin: -0.5em; 
    border-radius: 0.75em;
    padding: 0px;
    border: 0px;
    color: white;
    font-size: 1rem;
    background-color: #d4d4d4;
    position:relative;
    top:50%;
    left:50%;
}

#openfile {
    height: 0px;
    opacity: 0;
    display: none;
}

.image-container.target {
    margin-top: 0px !important;
}

.image-workplace:not(.image-cover-workplace) {
    background-color: whitesmoke;
}

.image-workplace {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.canvas-container {
    margin: 0 auto;
}

.image-workplace img {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.btn-hidden {
    display:none;
}

.btn-3 {
    width: 75px;
}

.btns {
    margin-left:-65%;
}

.thumbnail-region {
    background-color: whitesmoke;
    width: 100%;
    height: 5em;
    padding: 1em;
}

.thumbnail-region > div{
    float: left;
}

.thumbnail-list {
    width: 89%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.thumbnail-list.cover-list {
    width: 100%;
}

.thumbnail-list > div {
    height: 3em;
}

.thumbnail-list img {
    border: 1px solid #d4d4d4;
    height: 2em;
    margin: 0px 3px;
}

.thumbnail-list div {
    display: inline-block;
    text-align: center;
}

.thumbnail-list figcaption {
    font-size: 0.5rem;
}

.thumbnail-control {
    margin: 1em 0px 0px 0px;
}

div.current-item img{
    border: 2px solid royalblue;
}

div.info-insert {
    font-size:0.5rem;
    padding: 20px 8px 4px 8px;
}

div.info-insert.print-paper {
    margin:30% auto auto auto;
    text-align: center;
    height: 40px;
}

#cover-show img {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/spinner.gif') 
                50% 50% 
                no-repeat;
}

.modal .message {
    position: relative;
    top: 20%;
    text-align: center;
}

body.loading .modal {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.shadow {
    box-shadow: 5px 10px 8px #888888;
}

.shadow-sm {
    box-shadow: 2px 5px 4px #888888;
}

body.loading-confirm .modal-confirm {
    overflow: hidden;   
}

.modal-confirm {
    display: none;
}

body.loading-confirm .modal-confirm {
    display: block;
}

body.loading-confirm .modal-confirm-mask {
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;    
    left:0;
    background:gray;
    opacity: 0.2;
}

.modal-confirm {
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -6em;
    margin-left: -10em;
    width: 20em;
    height: 7em;
    padding-top: 0.5em;
}

.modal-confirm button {
    float: left;
    margin: 10px;
}

body.loading-progress .progress {
    overflow: hidden;   
}

.progress {
    display: none;
}

body.loading-progress .progress {
    display: block;
}

body.loading-progress .modal-confirm-mask {
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    background:gray;
    opacity: 0.2;
}

.progress {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
    height:5%;
}

.progress-bar {
    background-color: #0e5983;
    height:100%;
}